.gitignore.bak
.project

# Themes ausschließen
.obsidian/themes

# Einzelne Plugins ausschliessen
.obsidian/plugins/recent-files-obsidian
.obsidian/plugins/obsidian-icon-folder/data.json

# Backup-Dateien von Plugins ausschliessen
.obsidian/plugins/iconic/data.json.backup*

# sonstige Konfigurationsdateien ausschliessen
.obsidian/appearance.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/page-preview.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json

.obsidian/snippets/*.bak

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store