
.icon-color-yellow {
	--iconize-color: var(--color-yellow);
}
.icon-color-red {
	--iconize-color: var(--color-red);
}
.icon-color-blue {
	--iconize-color: var(--color-blue);
}
.icon-color-green {
	--iconize-color: var(--color-green);
}


body.is-focused .mod-active .workspace-tab-header-container .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.iconize-title-icon,
.iconize-icon {
	color: var(--iconize-color);
}
