
body {
	--image-caption-color: black;
}


/* Live-Preview */
.markdown-source-view.is-live-preview .image-embed[alt],
/* Leseansicht */
.markdown-reading-view .image-embed[alt] {
	display: flex;
	flex-direction: column;
}

/* Live-Preview */
.markdown-source-view.is-live-preview .image-embed[alt]:after,
/* Leseansicht */
.markdown-reading-view .image-embed[alt]:after {
	content: attr(alt);
	color: var(--image-caption-color);
	margin: 0.2rem 1rem 1rem 1rem;
	line-height: 1.4;
	margin: auto;
}


/* Image-Caption abschalten für das Banner */
/* Live-Preview */
.markdown-source-view.is-live-preview .image-embed[alt="banner"]:after,
/* Leseansicht */
.markdown-reading-view .image-embed[alt="banner"]:after {
	content: "";
}

/* Image-Caption abschalten für Dateinamen */
/* Live-Preview */
.markdown-source-view.is-live-preview .image-embed[alt$=".jpg"]:after,
.markdown-source-view.is-live-preview .image-embed[alt$=".webp"]:after,
.markdown-source-view.is-live-preview .image-embed[alt$=".gif"]:after,
/* Leseansicht */
.markdown-reading-view .image-embed[alt$=".jpg"]:after,
.markdown-reading-view .image-embed[alt$=".webp"]:after,
.markdown-reading-view .image-embed[alt$=".gif"]:after {
	content: "";
}


.markdown-source-view.is-live-preview .image-embed[alt=src]:after,
/* Leseansicht */
.markdown-reading-view .image-embed[alt="banner"]:after {
	content: "";
}
